.gameBoard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 20px;
    width: 520px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 10%;
    background-color: bisque;
    border: 8px solid burlywood;
    border-radius: 8%;
}

.gameCircle {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid black;
}

.player_0 {
    background-color: gray;
}

.player_1 {
    background-color: red;
}

.player_2 {
    background-color: green;
}