.gameBoard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 20%;

}

.gameCircle {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}

.player_0 {
    background-color: gray;
}

.player_1 {
    background-color: red;
}

.player_2 {
    background-color: green;
}